.navbar-inverse {
    background-color:lightskyblue;
    border-color: darkblue;
    color:darkblue;
}
.navbar-inverse a {
    background-color: #ffffff;
    border-radius: 10px;
    margin-left:10px;
    width:150px;
    height:50px;
    margin:5px;
    text-align: center;

}
h2{
    color:darkblue;
    text-align: center;

}
.form-group label{
    color:darkblue;
    text-align: right;
}
.form-group input{
     background-color:aliceblue;
    color: darkblue;

}
.form-group {
    text-align: center;

}
.help-block{
    background-color:pink;
    border-radius: 10px;
    color:darkblue;
}
.col-lg-offset-2{
    text-align: center;
}
.col-sm-4 h3{
    color: darkblue;
    background-color: lightskyblue;
    text-align: center;
    border-radius: 5px;
    margin-top:25px;
    margin-bottom: 25px;
    padding:5px;
}
.list-group-item{
    margin-top: 15px;
    border-radius: 5px;
    border-color: darkblue;
    text-align: center;
}
.list-group .list-group-item:hover{
    background-color: lightskyblue;
    cursor: pointer;
}
.col-md-offset-4 h2,.list-group-item.disabled{
    color: darkblue;
    background-color: lightskyblue;
    text-align: center;
    border-radius: 5px;
    margin-top:25px;
    margin-bottom: 25px;
    padding:5px;



}
#description,#descr{
    padding: 30px;
    border-left: dashed 2px darkblue;
    border-right: dashed 2px darkblue;
}
.col-md-5 .btn-primary{
    margin:10px;
    margin-left:20px; ;
    padding: 5px;
    text-align: center;
}




